.social-icon {
    width: 100%;
    font-size: 20px;
    padding-top: 20px;
    color: #fff;
    text-align: center;
}


.reset-psw {
    width: 100%;
    text-decoration: none;
    color: #1017e3;
    font-size: 14px;
    text-align: center;
    margin-top: 11px;
}

.social-icon button {
    font-size: 20px;
    color: white;
    height: 50px;
    width: 50px;
    background: #EA4335;
    border-radius: 60%;
    margin: 0px 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

.seperator {
    width: 100%;
    border-top: 1px solid #ccc;
    text-align: center;
    margin: 50px 0 0;
}

.seperator b {
    width: 40px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    background: #fff;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    position: relative;
    top: -22px;
    z-index: 1;
}